<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "mhxy8h2xad");
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>Home</title>
</head>
<body>
    <div class="forbg">
        <nav>
            <ul class="nav1">
                <li>Chef-Up</li>
                
            </ul>
            <ul class="nav2">
                <a href="/"><li>Home</li></a>

                <a href="/recipe"><li>Recipes</li></a>
                <a href="/posts"><li>Posts</li></a>
                <a href="/yourrecipe"><li>Your Recipes</li></a>
                <a href="/<%=change%>"><li><%=change%></li></a>

            </ul>
        </nav>
    
    
    <h1 class="home-header">Where Flavour Meets Imagination</h1>
    <div class="main-content">
        <div></div>
        <div class="con1">
            <h2>Get The Best Recipes</h2>
            <p>Indulge in culinary delights with our exquisite recipes that promise to tantalize your taste buds and elevate your cooking game.Join us on this flavorful journey today!</p>
        </div>
        <div>
            
        </div>

    </div>
    </div>

    <div class="about">
        <div class="search">
           <a href="/recipe"><img src="images/home1.jpeg" alt="">
            <p>Check out varities of dishes</p></a> 
            

        </div>
        <div class="share">
           <a href="/yourrecipe"><img src="images/home2.jpeg" alt="">
            <p>Share your own recipes</p></a> 

        </div>
        <div class="explore">
            <a href="/posts">
            <img src="images/home3.jpeg" alt="">
            <p>Neumerous personalized recipes</p>
        </a>

        </div>
    </div>
    <div class="work">

    </div>
    <div class="color-testimonials">
    <section class="testimonials">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h2>Cooking leads to more mindful eating.</h2>
                <img class="testimg" src="images/cook-4.jpeg" alt="chopping-veg">
                <p class="carousel-text">According to studies, people eat more mindful portions when they make home-cooked meals. While there’s so much in life we cannot control, cooking puts you in control of every ingredient you use and the portions you eat.</p>
              </div>
              <div class="carousel-item">
                <h2>Cooking leads to more mindful eating.</h2>
                <img class="testimg" src="images/cook-4.jpeg" alt="chopping-veg">
                <p class="carousel-text">According to studies, people eat more mindful portions when they make home-cooked meals. While there’s so much in life we cannot control, cooking puts you in control of every ingredient you use and the portions you eat.</p>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
        </section>
    </div>

        <div class="socials">


            <div><p>&copy All Rights Reserved</p></div>

        </div>
    
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
</body>
</html>
