<%-include('header')%>
<div class="signin">
    <div></div>
    <div class="signin-con">
<h3>Sign Up to Share</h3>
<form action="/signup" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input name="remail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input name="rname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input name="rpass" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div></div>
</body>
</html>
